.venv/
env/
venv/

.env
*.env

*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

**/migrations/*.py
!**/migrations/__init__.py

*.sqlite3

staticfiles/
media/

*.log
*.pot
*.py[cod]
coverage/
coverage.xml
htmlcov/
*.cover
*.db
*.sqlite3-shm
*.sqlite3-wal

.idea/
*.iml

.pytest_cache/
mypy_cache/
.dmypy.json
.cache/

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.installed.cfg
*.egg
*.whl

docker-compose.override.yml

front/.next/
front/node_modules/
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*